* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

.container {
    overflow-y: scroll;
    height: 100vh;
    scroll-snap-type: y mandatory;
}

section {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    scroll-snap-align: start;
}

.one {
    background-color: rgb(10, 20, 29);
}

.two {
    background-color: rgb(9, 127, 230);
}

.three {
    background-color: rgb(103, 114, 126);
}

.four {
    background-color: rgb(179, 33, 33);
}
