* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    overflow: hidden;
}

div.shadow {
    position: fixed;
    display: flex;
    width: 100%;
    justify-content: space-around;
    align-items: center;
    min-height: 8vh;
    background-color: #a79fd5;
    z-index: 2;
}

.shadow {
    position: relative;
    box-shadow: 0px -2px 6px 1px rgba(0,0,0,0.5);
    -webkit-box-shadow: 0px -2px 6px 1px rgba(0,0,0,0.5);
    -moz-box-shadow: 0px -2px 6px 1px rgba(0,0,0,0.5);
}

.logo {
    padding: 8px;
}

.nav-links {
    display: flex;
    justify-content: space-around;
    width: 20%;
}

.nav-links li {
    list-style: none;
}

.nav-links a {
    text-decoration: none;
    letter-spacing: 3px;
    font-weight: bold;
    font-size: 14px;
}

section {
    width: 100%;
    height: 100vh;
    display: flex;
    color: white;
    scroll-snap-align: start;
}

.container {
    scroll-snap-type: y mandatory;
    overflow-y: scroll;
    height: 100vh;
}

::-webkit-scrollbar {
    width: 0px;
    background: transparent;
}

.one {
    justify-content: right;
    align-items:center;
    background-color: #a79fd5;
}

img.mockup {
    transform: translateX(100%);
    width: 25%;
}

span.text1, span.text2 {
    font-size: 6vw;
    color: #e5196f;
    animation: 2s slide-left 2s forwards;
    transform:translateX(178%);
}

.move-left {
    animation: 1s slide-left 0.5s forwards;
}

@keyframes slide-left {
    to {
      transform:translateX(-90%);
    }
}

.two {
    background-color: #a79fd5;
    justify-content: center;
    align-items: center;
    text-align: center;
}

div.wrapper {
    display: inline-block;
    position: relative;
    margin: auto;
    top: 3%;
    align-items: center;
    justify-content: center;
}

h2.header {
    padding-bottom: 2%;
}

div.about {
    position: relative;
    background-color: #9790c2;
    max-width: 75%;
    margin: auto;
    border-radius: .5rem;
    padding: 1rem;
    letter-spacing: 1px;
    font-family: sans-serif;
}

.bems-scroller {
    display: flex;
    height: fit-content;
    border-radius: 1em;
    overflow: hidden;
}

.bems-scroller #scrolling-container {
    display: flex;
    flex-wrap: nowrap;
    padding: 1em 0;
    overflow-x: scroll;
    overflow-x: -moz-scrollbars-none;
    overflow-y: hidden;
    -webkit-overflow-scrolling: touch;
    -ms-overflow-style: -ms-autohiding-scrollbar;
    width: 75%;
    margin: auto;
    background-color: #9790c2;
    margin-top: 10px;
    border-radius: .5em;
}

.bems-scroller #scrolling-container::-webkit-scrollbar {
    display: none;
}

.bems-scroller li {
    display: flex;
    flex-shrink: 0;
    flex-direction: column;
    list-style-type: none;
    width: 15%;
    margin: 0 1em;
    background-color: #666;
    border-radius: 0.5em;
}

.bems-scroller li img {
    border-radius: 1.2em;
}

.bems-scroller i {
    color: #ddd;
}

.rangeslider {
    margin: 0 auto;
    padding: 200px 0;
    width: 500px;
}

input[type="range"] {
    background: #1e1e1e;
    border-bottom: 1px solid #4b4b4b;
    border-top: 1px solid #060606;
    height: 12px;
    width: 75%;
    -moz-appearance: none;
    -webkit-appearance: none;
    border-radius: 3px;
}

input[type="range"]:focus {
    outline: none;
}

.rangeslider, input::-webkit-slider-thumb {
    background: linear-gradient(to bottom, #505050 0%, #545454 5%, #525252 16%, #3d3d3d 95%, #3a3a3a 100%);
    border: 1px solid #1a1a1a;
    cursor: pointer;
    height: 22px;
    text-indent: -9999px;
    width: 90px;
    box-shadow: 0 3px 6px rgba(0,0,0,0.3), 0 1px 0 rgba(255,255,255,0.2) inset;
    -moz-appearance: none;
    -webkit-appearance: none;
    border-radius: 10px;
}
  
.three {
    background-color: rgb(103, 114, 126);
}

.four {
    background-color: rgb(179, 33, 33);
}

@media only screen and (max-width: 1280px) {
    .nav-links {
        width: 30%;
    }
    img.mockup {
        width: 30%;
    }
    .bems-scroller li {
        width: 20%;
    }
}

@media only screen and (max-width: 1000px) {
    .nav-links {
        display: none;
    }
    img.mockup {
        width: 30%;
    }
    .bems-scroller li {
        width: 23%;
    }
}

@media only screen and (max-width: 768px) {
    img.mockup {
        width: 60%;
    }
    span.text1, span.text2 {
        position: relative;
        right: 2rem ;
        transform:translateX(205%);
        font-weight: 700;
    }
    span.text1 {
        padding-right: 1rem;
    }
    .bems-scroller li {
        width: 35%;
    }
    input[type="range"] {
        display: none;
    }
    @keyframes slide-left {
        to {
          transform:translateX(-10%);
        }
    }
}

@media only screen and (max-width: 550px) {
    .one {
        display: block;
    }
    img.mockup {
        position: relative;
        top: 100px;
        width: 100%;
    }
    span.text1, span.text2 {
        font-size: 7vw;
        position: relative;
        top: 6rem;
        left: 32%;
        font-weight: 700;
    }
    input[type="range"] {
        display: none;
    }
    .bems-scroller li {
        min-width: 50%;
    }
    @keyframes slide-left {
        to {
          transform:translateX(4%);
        }
    }
}
